{% extends "layout.html" %}

{% block title %}
    Departments
{% endblock %}

{% block main %}
    <div class="row mb-3">
        <div class="col-md-12">
            <form id="formNew" action="/departments" method="post">
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Department Name" type="text">
                </div>
                <button class="btn btn-primary" type="submit">New Department</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:25px;">Id</th>
                        <th style="text-align: left;">Department Name</th>
                        <th>Balance</th>
                        <th style="text-align: right;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if departments %}
                        {% for item in departments %}
                            <tr>
                                <td>{{item.id}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.balance}}</td>
                                <td>
                                    <form id="formDelete" action="/department-delete" method="post">
                                        <input autocomplete="off" autofocus class="form-control" name="department_id" id="department_id" value="{{item.id}}" type="hidden">
                                        <button class="btn btn-danger" type="submit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                                            </svg>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                            <tr>
                                <td colspan=3>None</td>
                            </tr>
                    {% endif %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">TOTAL</td>
                        <td><b>{{userTotal}}</b></td>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>
{% endblock %}
