{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<main class="container p-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td><b>{{total}}</b></td>
            </tr>
        </tfoot>
        <tbody>
            {% for item in portfolio %}
                <tr>
                    <td>{{item.symbol}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.shares}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.total}}</td>
                </tr>
            {% endfor %}

            <tr>
                <td colspan="1">CASH</td>
                <td colspan="3"></td>
                <td>{{cash}}</td>
            </tr>
        </tbody>
    </table>
</main>
{% endblock %}

